body {
            font-family: Arial, sans-serif;
            background-color: #721121;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
}
        .container {
            text-align: center;
        }
        h1 {
            color:#9DBF9E;
        }
        p {
            color:#FFC09F;
        }
        .buttons {
            margin-top: 20px;
        }
        .buttons a {
            display: inline-block;
            text-decoration: none;
            color: #007090;
            background-color: #A882DD;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .buttons a:hover {
            background-color:#007090;
            transform: translateY(-5px);
        }
